<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/profile">ClanLoc</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/#/profile">Profile</a></li>
        <li><a href="/#/find-games">Find Games<span class="sr-only">(current)</span></a></li>
        <li><a href="/#/find-clans">Find Clans</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div>
  <div class="row">
    <div class="form-group col-xs-11 col-sm-5 col-md-5 col-lg-5">
      <label for="usr">Clan Name:</label>
      <input type="text" class="form-control" ng-model="makeClan.clanName" id="usr">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-11 col-sm-5 col-md-5 col-lg-5">
      <label for="usr">State:</label>
      <input type="text" class="form-control" ng-model="makeClan.clanState" id="usr" placeholder="e.g. Tennessee">
    </div>
  </div>
  <div class="row"> 
    <div class="form-group col-xs-11 col-sm-5 col-md-5 col-lg-5">
      <label for="comment">About Clan:</label>
      <textarea class="form-control" ng-model="makeClan.aboutClan" rows="5" id="comment"></textarea>
    </div>
  </div>
  <div class="row"> 
    <div class="form-group col-xs-11 col-sm-5 col-md-5 col-lg-5">
      <label for="comment">Clan Schedule:</label>
      <textarea class="form-control" ng-model="makeClan.clanSchedule" rows="5" id="comment"></textarea>
    </div>
  </div>
</div>
<div class="row">>
  <div ng-repeat="game in makeClan.fbGamesArr | filter:{user: makeClan.uid}">
    <div class="panel panel-default col-xs-11 col-sm-5 col-md-3 col-lg-2">
      <div class="panel-heading">
        <h3 class="panel-title">{{game.name}}</h3>
      </div>
      <div class="panel-body">
        <p>{{game.platform}}</p>
        <img class="img-responsive" ng-src="{{game.image}}">
        <div class="checkbox">
          <label><input type="checkbox" ng-click="makeClan.toggleSelection(game)">Add Game</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <button type="button" ng-click="makeClan.addClan()">Make Clan</button>  
</div>
